<!DOCTYPE html>
<html>
<head>

    <!--
      ==========================================================
      === Developed by... ========================
      ==========================================================
      __________    ________    _________   _________
      /\   _  _  \  /\   __  \  /\___  ___\ /\___  ___\
      \ \  \\_\\  \ \ \   __  \ \/__/\ \__/ \/__/\ \__/
      \ \__\ \ \__\ \ \__\ \__\    \ \ \       \ \ \
      \/__/  \/__/  \/__/\/__/     \/_/        \/_/

      ==========================================================
      ============================= http://mdchristians.com/ ===
      ==========================================================
    -->

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0">
    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <meta name="description" content="{{ page.description }}">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
</head>

  <body>

    <!-- BG -->
  <div id="topper">
    <div class="wrap">
      <h1>Blog of Matt</h1>
    </div>
    </div>

  <section id="about">
    <div class="content">
      <div class="container">
        <div class="row text-center">
          <div class="col-md-10 col-md-offset-1">
            <h2>About</h2>
            <p>{{ content }}</p>
          </div>
        </div>
      </div>
    </div>
  </section>

    {% include footer.html %}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.14.2/TweenMax.min.js"></script>
    <script src="/js/scrollMagic.js"></script>
    <script src="/js/animation.gsap.js"></script>
    <script src="/js/addIndicators.js"></script>

    <script>

    // Make the magic happen
    $(window).load(function() {

        var scrollMagicController = new ScrollMagic.Controller(
            {
                globalSceneOptions: {
                    triggerHook: 'onLeave'
                }
            }
        );
        var topperTween = TweenMax.to('#topper', 1,
            {
                backgroundPosition: '50% '+ $('#topper').height() * 0.4 + 'px',
                ease: Cubic.ease,
                z: 1
            }
        );
        var scene = new ScrollMagic.Scene(
            {
                triggerElement: '#topper',
                duration: '60%'
            }
        )
        .setTween(topperTween)
        // .addIndicators()
        .addTo(scrollMagicController);

    });
    </script>

  </body>

</html>
